

body{


}


p{

    width: 50%;

}


   

 h5{

 font-size: xx-large;
 font-style: initial;
 

 }


 h6{

    font-size: xx-large;
   
 }


 
button{

color: brown;

}


img{

width: 1500px;
height: 500px;



}




h1{

color: red;
margin-left: 500px;


}



h4{


color: black;
font-size: xx-large;
}
